body {
    /* background-color: #fff; */
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
  }

  #middle-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.Reserver-Bigger{
 display: flex;
}
#Reserver{
/* justify-items: center; */
text-align: center;
justify-content: center;
/* width: 20%; */
/* display: block; */
margin-left: auto;
margin-right: auto;
display: flex;
}


/* -------Anchor Tag Edit--------- */
a:hover{
color: orange;
}
a:active{
color: #fff;
}
a:link{
/* background-color: #fff; */
color: green;
text-decoration: none;
/* border: 5px solid red; */
justify-content: space-between;
/* I used em to make it relative to the parent font size */
margin: 2em;
}
a:visited{
color: green;
}

/* --------------------DropDown----------- */
.dropbtn {
  background-color: wheat;
  color: green;
  /* padding: 10px 15px; */
  font-size: 16px;
  border: none;
  /* margin-top: 35%; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  background-color: wheat;
  /* justify-content: space-between; */
  /* margin-right: auto;
  margin-left: auto; */
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #cc4100;
  border: 2px solid black;
  border-radius: 0.5em;
  margin-top: 70px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  /* border: 2px; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




/* -------TopNav------- */
.TopNav{
  /* display: flex; */
  overflow: hidden;

}
.Links{
display: flex;
background-color: wheat;
justify-content: space-evenly;
margin-right: auto;
margin-left: auto;

}




/* -------Call to Action------- */
#PoolRes{
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
#DinarRes{
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
#PoolRes:hover {
  background-color: #cc4100;
}
#DinarRes:hover {
  background-color: #cc4100;
}

  @media only screen and (max-width: 900px) {
    #middle-img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        
    }
    #Reserver{
    flex-direction: column;

    }

    

  }